@model ProjectManagement.Models.CreateProjectViewModel
@{
    ViewBag.Title = "Создание проекта";
}

<h2>Создание проекта</h2>


@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Project.Name, "Название")
    <br />
    @Html.EditorFor(model => model.Project.Name)
    @Html.ValidationMessageFor(model => model.Project.Name, "", new { @class = "text-danger" })
    <br /><br />

    @Html.LabelFor(model => model.Project.StartDate, "Дата начала")
    <br />
    @Html.EditorFor(model => model.Project.StartDate)
    @Html.ValidationMessageFor(model => model.Project.StartDate, "", new { @class = "text-danger" })
    <br /><br />
    @Html.LabelFor(model => model.Project.FinishDate, "Дата окончания")
    <br />
    @Html.EditorFor(model => model.Project.FinishDate)
    @Html.ValidationMessageFor(model => model.Project.FinishDate, "", new { @class = "text-danger" })
    <br /><br />

    @Html.LabelFor(model => model.Project.Priority, "Приоритет")
    <br />
    @Html.EditorFor(model => model.Project.Priority)
    @Html.ValidationMessageFor(model => model.Project.Priority, "", new { @class = "text-danger" })
    <br /><br />
    @Html.LabelFor(model => model.Project.CustomerId, "Заказчик")
    <br />
    @Html.DropDownListFor(model => model.Project.CustomerId, ViewBag.Customer as SelectList)
    <br /><br />

    <a style="margin: 10px 0;" href="javascript:addRow();">Добавить сотрудника</a>
    <table id="formTable">
        <thead>
            <tr>
                <th>Сотрудник</th>
                <th>Роль</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DropDownListFor(model => model.Project.EmployeeProjects, ViewBag.Employee as SelectList)</td>
                <td>@Html.DropDownListFor(model => model.Role, ViewBag.Role as SelectList)</td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Создать проект" />

}

<script type="text/javascript" src="../../Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    function addRow() {
        $("#formTable tbody tr:first").clone().find("input").each(function () {
            $(this).val('');
        }).end().appendTo("#formTable");
    }
</script>