@model ProjectManagement.Models.Project

@{
    ViewBag.Title = "Просмотр проекта";
}

<fieldset>
    <legend>@Model.Name</legend>

    <div class="display-label"><b>Участники</b></div>
    <ul>
        @foreach (var c in ViewBag.Employees)
        {
            <li>@c.Role <b>:</b> @c.Employee.FirstName  @c.Employee.Surname   </li>
        }
    </ul>

    <div class="display-label"><b>Заказчик</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.Name)
    </div>
    <div class="display-label"><b>Компания-Исполнитель</b></div>
    <div class="display-field">
         @ViewBag.Employees[0].Employee.Implementer.Name
    </div>

    <div class="display-label"><b>Дата начала</b></div>
    <div class="display-field">
        @Model.StartDate.ToString("d")
    </div>

    <div class="display-label"><b>Дата окончания</b></div>
    <div class="display-field">
        @Model.FinishDate.ToString("d")
    </div>

    <div class="display-label"><b>Приоритет</b></div>
    <div class="display-field">
        @Model.Priority
    </div>


    @Html.ActionLink("Редактировать", "EditProject", new { id = Model.ProjectId })
    @Html.ActionLink("Удалить", "DeleteProject", new { id = Model.ProjectId })


</fieldset>